@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/upheaval?styles=9487');
@font-face {
    font-family: Zftermin;
    src: url(font/zftermin-BW-8hCcd.ttf) format("truetype")
}
@font-face {
    font-family: Upheavtt;
    src: url(font/upheavtt-B-9OJ9eJ.ttf) format("truetype")
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    background: rgb(15, 4, 27);
    height: auto;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(80 80 80 / 46%);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #0003;
}
.Box {
    letter-spacing: -0.3325px;
    text-align: center;
    line-height: 38px;
    font-size: 33.25px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
}
@media screen and (min-width: 1024px){
    .Box {
        letter-spacing: -1.425px;
        text-align: center;
        line-height: 57px;
        font-size: 57px;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    background-color: #1d093750;
    z-index: 100;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    border-radius: 16px;
    margin: 12px;
    color: #fff;

}
.Logo{
    cursor: pointer;
}
.Logo img{
    width: 100px;
    pointer-events: none;
    margin-top: 10px;
    overflow: clip;
}
.span-navbar a{
    justify-content: flex-start;
    text-decoration: none;
    padding: 8.7px;
    line-height: 22.8px;
    font-weight: 400;
    font-size: 15.2px;
    font-family: Prompt, sans-serif;
    cursor: pointer;
}
.span-navbar a:hover{
    color: rgb(255, 213, 65);
    transition: all .2s;
}
.register{
    padding: 5px 20px;
    border: none;
    background: rgb(20, 52, 100);
    color: #fff;
    font-size: 16px;
    transition: all .2s;
    cursor: pointer;
    font-weight: 400;
    font-family: Prompt, sans-serif;
}
.register:hover{
    background: #14346440;
    color: rgb(255, 213, 65);
}
.BaseButton{
    border-radius: 5.7px;
    appearance: none;
    width: 38px;
    height: 38px;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    vertical-align: top;
    align-items: center;
    border: none;
    color: #edeef0;
    background-color: #ddeaf814;
    display: none;
}
.BaseButton:hover{
    background-color: rgba(211, 237, 248, 0.114);
}
@media screen and (max-width: 900px){
    .span-navbar{
        display: none;
    }
    .BT2{
        display: none;
    }
    .BaseButton{
        display: block;
    }
}
.nb{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1d093750;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(80, 80, 80, .3137254902);
    min-height: 100dvh;
    padding: 8px 12px 12px;
    display: none;
}
.navbar-XXX{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 20px;
}
.BaseButton-XXX{
    border-radius: 5.7px;
    appearance: none;
    width: 38px;
    height: 38px;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    vertical-align: top;
    align-items: center;
    border: none;
    color: #edeef0;
    background-color: #ddeaf814;
}
.BaseButton-XXX:hover{
    background-color: rgba(211, 237, 248, 0.114);
}
.span-navbar-XXX{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    gap: 22.8px;
}
.span-navbar-XXX a{
    color: #fff;
    line-height: 22.8px;
    font-weight: 400;
    font-size: 15.2px;
    font-family: Prompt, sans-serif;
    cursor: pointer;
}
.span-navbar-XXX a:hover{
    color: rgb(255, 213, 65);
    transition: all .2s;
}
.Box-1{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
    background-color: rgb(21 6 39);
    background-image: url(https://comcamp.io/assets/background-Cj2jXSzJ.gif);
    background-position: bottom;
    background-size: cover;
    font-family: "Prompt";

}
.Box-1-img{
    position: relative;
    animation: slideUp-Down 2s ease-in-out infinite alternate;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.Box-1-shadow{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(38deg, #143464 69%, #f9a31b 81%);
    filter: blur(100px);
    z-index: 0;
    transform: translate(-50%, -50%);
}
.Box-1-img-Logo{
    height: auto;
    width: 640px;
    isolation: isolate;
    z-index: 1 ;
}
.Box-1-KMUTT{
    position: absolute;
    bottom: 50px;
    right: 20px;
    color: #ffd541;
    animation: zoomin-out .3s ease-in-out infinite alternate;
    font-size: 28px;
    font-family: Zftermin, sans-serif !important;                                              
}
.Box-1-text1{
    position: relative;
    white-space: nowrap;
    font-size: 64px;
    margin-block: 0 12px;
    line-height: 57px;
    letter-spacing: -1.5px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
}
.Box-1-text2{
    font-size: 20px;
    text-align: center;
    width: 548px;
    margin-block: 0 24px;
    line-height: 30px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
@media screen and (max-width: 768px) {
    .Box-1-KMUTT {
        display:none
    }

    .Box-1-img-Logo {
        width: 300px
    }

    .Box-1-text1 {
        font-size: 40px;
        letter-spacing: -1px;
        margin-block:0;
    }

    .Box-1-text2 {
        font-size: 16px;
        width: 100%;
        line-height: 24px;
        padding-inline:25px;
    }
}
@media screen and (max-width: 350px) {
    .Box-1-KMUTT {
        display:none
    }

    .Box-1-img-Logo {
        width: 100%
    }

    .Box-1-text1 {
        font-size: 32px;
        margin-block:0}
}
.Box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    min-height: 100dvh;
    padding: 0 10%;
    gap: 22.8px;
}
.Box-2-text1{
    text-align: center;
    line-height: 38px;
    letter-spacing: -0.3325px;
    font-size: 33.25px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
}
.Box-2-text2{
    text-align: left;
    text-indent: 50px;
    line-height: 27px;
    font-size: 18px;
    overflow-wrap: break-word;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-2-img{
    position: relative;
    user-select: none;
    transition: all .2s;
}
.Box-2-img:hover{
    transform: scale(1.02);
}
.Box-2-shadow{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(90deg, #143464 50%, #143464 50%);
    filter: blur(100px);
    transform: translate(-50%, -50%);
}
.Box-2-img-img{
    isolation: isolate;
    border-radius: 16px;
    user-select: none;
    pointer-events: none;
    width: 350px;
    height: 350px;
    overflow: clip;
}
@media screen and (max-width: 1020px) {
    .Box-2-text2 {
        line-height: 24px;
        font-size:16px;
        text-align: center;
        text-indent: 0 ;
    }
}
@media screen and (max-width: 512px) {
    .Box-2-img-img{
        text-align: center;
        width: 80%;
        height: 80%;
    }
    .Box-2{
        text-align: center;
    }
}
@media screen and (max-width: 280px) {
    .Box-2-shadow {
        display:none
    }
}
.Box-3-CT {
    display: grid;
    width: auto;
    margin-top: 24px;
    padding: 0 10%;
    gap: 24px;
}
.Box-3-CT-T{
    padding: 24px 45px;
    border: 1px solid rgba(80, 80, 80, 0.314);
    border-radius: 16px;
    background-color: #1a408d40;
    text-align: start;
    transition: all .2s;
}
.Box-3-CT-T:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 12px #285cc440
}
.Box-3-CT-TH{
    display: flex;
    align-items: center;
    justify-items: start;
    gap: 10px;
}
.Box-3-CT-TH img{
    height: 100px;
    width: 100px;
    user-select: none;
    pointer-events: none;
}
.Box-3-CT-Htext{
    display: grid;
    gap: 12px;
}
.Box-3-CT-text1{
    text-align: center;
    line-height: 24.7px;
    letter-spacing: -0.04275px;
    font-size: 17.1px;
    color: rgb(237, 238, 240);
    font-weight: 700;
    font-family: Prompt, sans-serif;
}
.Box-3-CT-text2{
    text-align: center;
    padding-left: 6px;
    line-height: 22.8px;
    letter-spacing: normal;
    font-size: 15.2px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}

@media screen and (max-width:768px) {
    .Box-3-CT-TH{
        display: grid;
        justify-items: center;
    }
}
@media (min-width:520px){
    .Box-3-CT-text1{
        line-height: 28.5px;
        letter-spacing: -0.1425px;
        font-size: 22.8px;
    }
}
@media (min-width: 768px){
    .Box-3-CT-text1{
        text-align: left;
        line-height: 34.2px;
        letter-spacing: -0.1995px;
        font-size: 26.6px;
    }
    .Box-3-CT-text2{
        text-align: left;
    }
}
.Box-4{
    margin-top: 60.8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0 10%;
    box-sizing: border-box;
    justify-content: center;
}
.Box-4-CT{
    display: grid;
    width: auto;
    line-height: 22.8px;
    margin-top: 30.4px;
    margin-bottom: 30.4px;
    gap: 22.8px;
}
@media (min-width:768px){
    .Box-4-CT{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width:1024px){
    .Box-4-CT{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
.Box-4-CT-T{
    border: 2px solid rgba(80, 80, 80, .3137254902);
    border-radius: 16px;
    background-color: #1a408d40;
    height: 370px;
    padding: 24px;
    transition: all .2s;
}
.Box-4-CT-T:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 12px #285cc440
}
.Box-4-CT-TT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Box-4-CT-TT img{
    width: auto;
    max-width: 100%;
    text-align: center;
    border-radius: 16px;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.Box-4-CT-TT span{
    margin-top: 24px;
    text-align: center;
    font-size: 15.2px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-4-text{
    text-align: center;
}
.Box-4-text span{
    font-size: 15.2px;
    line-height: 22.8px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-5{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60.8px;
    min-height: 100dvh;
    padding: 0 10%;
    box-sizing: border-box;
    justify-content: center;
}
.Box-5-CT{
    display: grid;
    /* flex-direction: column; */
    /* width: auto; */
    /* justify-content: center; */
    margin-top: 24px;
    /* display: flex; */
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
@media (min-width:768px){
    .Box-5-CT{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width:1024px){
    .Box-5{
        margin-top: 0;
    }
    .Box-5-CT{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-top: 10rem;

    }
}
.Box-5-CT div{
    margin-top: 3rem;
    padding: 48px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a408d40;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    border-radius: 10px;
    transition: all .2s;
    position: relative;
}
.Box-5-CT div:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 12px #285cc440
}
.Box-5-CT img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -90px;
}
.Box-5-CT span{
    text-align: center;
    line-height: 24.7px;
    font-size: 15.2px;
    line-height: 22.8px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-5-CT h1{
    letter-spacing: -0.095px;
    text-align: center;
    line-height: 24.7px;
    font-size: 19px;
    color: rgb(237, 238, 240);
    font-weight: 700;
    font-family: Prompt, sans-serif;
}
.Box-6{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0 10%;
    box-sizing: border-box;
    justify-content: center;
    gap: 24px;
}
.Box-6 h1{
    text-align: center;
    letter-spacing: -0.3325px;
    line-height: 38px;
    font-size: 33.25px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
}
.Box-6-CT{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Box-6-CT-CL {
    overflow: hidden;
    background-color: #1a408d40;
    border-radius: 16px;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    transition: all .2s;
}

.Box-6-CT-CL:hover {
    box-shadow: 0 4px 12px #285cc440;
}

.Box-6-CT-CL button {
    font-size: 18px;
    font-family: Prompt, sans-serif !important;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
}
.rotate-icon {
    margin-right: 13px;
    transition: transform 0.4s ease;
}
.rotate-icon path{
    width: 40px;
    margin-left: 20px;
}
.rotate-icon.rotate180 {
    transform: rotate(180deg);
}
.accordion-content {
    max-height: 0;
    animation: slideDown 2.3s;
    transition: max-height 0.3s ease-out;
}
.accordion-content div{
    overflow: hidden;
    border-top: 1px solid rgba(80, 80, 80, .3137254902);
    margin: 0 24px 12px;
    padding-top: 12px;
    color: rgb(237, 238, 240);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.accordion-content.active {
    max-height: 1000px;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 300px;
    }
}

.accordion-content:not(.active) {
    animation: slideUp 0.3s;
}

@keyframes slideUp {
    from {
        max-height: 300px;
    }
    to {
        max-height: 0;
    }
}
.Box-6 a{
    color: #fff;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin-bottom: 24px;
    padding: 6px 12px;
    transition: all .3s;
    border-radius: 2px;
    font-size: 15.2px;
    line-height: 22.8px;
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    transition: all .2s;
    cursor: pointer;
}
.Box-6 a:hover{
    border: none;
    background: #1a408d40;
    color: #ffd541;
}
.Box-7{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10%;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 160px;
}
.Box-7-logo{
    display: grid;
    flex-direction: column-reverse;
    width: 80%;
    transition: all .2s;
}
.Box-7-logo1{
    width: auto;
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 34px;
}
.Box-7-logo1-1{
    height: 140px;
    max-width: 50%;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.Box-7-logo1-2{
    height: 120px;
    max-width: 50%;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.Box-7-logo2{
    margin-top: 34px;
    gap: 24px;
    transition: all .2s;
}
.Box-7-logo3{
    display: grid;
    flex-direction: column;
    margin-top: 34px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}
.Boxlogo{
    height: 100%;
    width: 100%;
    background-color: #1a408d40;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    border-radius: 10px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.Boxlogo1 img{
    max-width: 100%;
    max-height: 100%;
    height: 160px;
    width: auto;
    object-fit: contain;
}

.Boxlogo2 img{
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: auto;
}
.Boxlogo3 img{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    pointer-events: none;
    object-fit: contain;
    height: 60px;
    width: 200px;
}
.Box-7-A:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 12px #285cc440
}
.Box-8{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10%;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 42px;
}
.Box-8-CT{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
    width: 100%;
}
.Box-8-CT1{
    border-radius: 16px;
    background-color: #285cc42b;
    border: solid 1px #26263f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    transition: all .3s;
    gap: 24px;
}
.Box-8-CT1-1 h1{
    font-size: 15.2px;
    line-height: 20.9px;
    color: rgb(237, 238, 240);
    font-weight: 700;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-8-CT1-1 p{
    padding-left: 12px;
    font-size: 15.2px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-8-CT2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}
.Box-8-CT2-Logo{
    border-radius: 16px;
    border: solid 1px #26263f;
    background-color: #285cc42b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    transition: all .2s;
    padding: 24px 0;
}
.Box-8-CT2-Logo a img{
    width: 50px;
    height: 50px;
    transition: all .2s;
}
.Box-8-CT2-Logo a img:hover{
    transform: scale(1.09);
}
.Box-8-CT2-text{
    height: 100%;
    border-radius: 16px;
    background-color: #285cc42b;
    border: solid 1px #26263f;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.Box-8-CT2-text h1{
    text-align: center;
    margin-bottom: 15.2px;
    letter-spacing: -0.1425px;
    font-size: 22.8px;
    line-height: 28.5px;
    color: rgb(237, 238, 240);
    font-weight: 700;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-8-CT2-text span{
    line-height: 24.7px;
    font-size: 15.2px;
    line-height: 22.8px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
@media (min-width: 1024px){
    .Box-8-CT2-text h1{
        letter-spacing: -0.1995px;
        font-size: 26.6px;
        line-height: 34.2px;
    }
}
@media screen and (max-width:768px){
    .Box-8-CT{
        flex-direction: column;
    }
}
.register1{
    text-decoration: none;
    width: auto;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 1rem;
    padding: 6px 12px;
    transition: all .2s;
    border-radius: 2px;
    font-size: large;
    background-color: #2d62cd1c;
}
.register1 a{
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    transition: all .2s;
}
.register1 a:hover ,.register1:hover{
    cursor: pointer;
    background: rgb(24,37,90);
    color: rgb(255, 215, 75);
}
.footer{
    color: var(--gray-a11);
    width: 100%;
    padding-block: 20px;
    border-top: 1px solid rgba(80, 80, 80, .3137254902);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #1d093750;
}
.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer div span{
    font-size: 15.2px;
    line-height: 22.8px;
    color: rgba(241, 247, 254, 0.71)
    ;
    font-weight: 400;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.Box-8-A:hover{
    box-shadow: 0 4px 12px #285cc440
}
@keyframes slideUp-Down {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes zoomin-out {
    0% {
        transform: scale(1) rotate(-20deg);
    }

    100% {
        transform: scale(1.1) rotate(-20deg);
    }
}
@media screen and (min-width: 1024px) {
    .Box-2 {
        justify-content: center;
        flex-direction: row;
        gap: 60.8px;
    }
    .Box-2-text1 {
        text-align: left;
        line-height: 57px;
        letter-spacing: -1.425px;
        font-size: 57px;
    }
}
