@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Zftermin;
  src: url(../font/zftermin-BW-8hCcd.ttf) format("truetype")
}

@font-face {
  font-family: Upheavtt;
  src: url(../font/upheavtt-B-9OJ9eJ.ttf) format("truetype")
}

@font-face {
  font-family: Prompt-Regular;
  src: url(../font/Prompt-Regular.ttf) format("truetype")
}

@font-face {
  font-family: Prompt-Bold;
  src: url(../font/Prompt-Bold.ttf) format("truetype")
}

@font-face {
  font-family: NotoSansThaiLooped-Regular;
  src: url(../font/NotoSansThaiLooped-Regular.ttf) format("truetype")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(15, 4, 27);
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(80 80 80 / 46%);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #0003;
}

@layer utilities {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Prompt:wght@400;700&display=swap');

  .textZ {
    font-family: Zftermin;
  }

  .textU {
    letter-spacing: -0.3325px;
    text-align: center;
    line-height: 38px;
    font-size: 33.25px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
  }

  .textPR {
    font-family: Prompt-Regular;
  }

  .textPB {
    font-family: Prompt-Bold;
  }

  .textN {
    font-family: NotoSansThaiLooped-Regular;
  }

  .flex-center {
    @apply flex items-center justify-center
  }

  .flex-navbar {
    @apply flex items-center justify-between top-0 left-0 right-0
  }

  .flex-navbar-menu {
    @apply top-0 left-0 right-0
  }

  .navbar {
    backdrop-filter: blur(5px);
    background-color: #1d093750;
    border: 1px solid rgba(80, 80, 80, .3137254902);
  }

  .navbar-menu {
    backdrop-filter: blur(5px);
    background-color: #1d093750;
  }

  .-navbar {
    color: rgb(255, 213, 65);
  }

  .register {
    padding: 5px 20px;
    background: rgb(20, 52, 100);
    color: #fff;
    @apply textPR text-base leading-5 font-normal
  }

  .-register {
    background: #14346440;
    color: rgb(255, 213, 65);
  }

  .hero {
    background-color: rgb(21 6 39);
    min-height: 100dvh;
    background-image: url(https://comcamp.io/assets/background-Cj2jXSzJ.gif);
  }

  .hero-image {
    animation: slideUp-Down 2s ease-in-out infinite alternate;
  }

  .shadowHero {
    top: 50%;
    left: 50%;
    background-image: linear-gradient(38deg, #143464 69%, #f9a31b 81%);
    filter: blur(100px);
    transform: translate(-50%, -50%);
  }

  .KMUTT {
    animation: zoomin-out .3s ease-in-out infinite alternate;
  }

  .titleMainA {
    letter-spacing: -0.3325px;
    text-align: center;
    line-height: 38px;
    font-size: 33.25px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
  }

  .titleMainB {
    line-height: 57px;
    letter-spacing: -1.425px;
    font-size: 57px;
  }

  .title {
    font-size: 64px;
    line-height: 57px;
    letter-spacing: -1.5px;
    color: rgb(237, 238, 240);
    font-weight: 400 !important;
    font-family: Upheavtt, sans-serif !important;
  }

  .shadowWCC {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(90deg, #143464 50%, #143464 50%);
    filter: blur(100px);
    transform: translate(-50%, -50%);
  }

  .shadowLearning {
    transform: scale(1.02);
    box-shadow: 0 4px 12px #285cc440
  }

  .shadow {
    box-shadow: 0 4px 12px #285cc440
  }

  .sectionBig {
    transform: scale(1.09);
  }

  .text1Learning {
    text-align: left;
    line-height: 24.7px;
    letter-spacing: -0.04275px;
    font-size: 17.1px;
    color: rgb(237, 238, 240);
    font-weight: 700;
    @apply textPB
  }

  .text1Learning520 {
    line-height: 28.5px;
    letter-spacing: -0.1425px;
    font-size: 22.8px;
  }

  .text1Learning768 {
    text-align: left;
    line-height: 34.2px;
    letter-spacing: -0.1995px;
    font-size: 26.6px;
  }

  .text2Learning {
    text-align: left;
    padding-left: 6px;
    line-height: 22.8px;
    letter-spacing: normal;
    font-size: 15.2px;
    color: rgb(237, 238, 240);
    font-weight: 400;
    @apply textN
  }

  .grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .a {
    @apply border-none bg-[#1a408d40] text-[#ffd541]
  }

  .rotate-icon {
    transition: transform 0.4s ease;
  }

  .rotate-icon.rotate180 {
    transform: rotate(180deg);
  }

  .accordion-content {
    animation: slideDown 2.3s;
    transition: max-height 0.3s ease-out;
  }

  .accordion-content.active {
    max-height: 1000px;
  }

  @keyframes slideDown {
    from {
      max-height: 0;
    }

    to {
      max-height: 300px;
    }
  }

  .accordion-content:not(.active) {
    animation: slideUp 0.3s;
  }

  @keyframes slideUp {
    from {
      max-height: 300px;
    }

    to {
      max-height: 0;
    }
  }

  @media screen and (max-width:768px) {
    #accordion-button {
      align-items: flex-start;
      text-align: left;
    }
  }

  @keyframes slideUp-Down {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(10px);
    }
  }

  @keyframes zoomin-out {
    0% {
      transform: scale(1) rotate(-20deg);
    }

    100% {
      transform: scale(1.1) rotate(-20deg);
    }
  }

  .SponCol1 {
    max-width: 50%;
    user-select: none;
    pointer-events: none;
  }

  .LogoSpon {
    @apply p-6 border-[1px] border-[#505050]/[0.314] rounded-[10px] bg-[#1a408d40];
  }

  .register1 {
    text-decoration: none;
    width: auto;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 1rem;
    padding: 6px 12px;
    transition: all .2s;
    border-radius: 2px;
    font-size: large;
    background-color: #2d62cd1c;
  }

  .register1 a {
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    transition: all .2s;
  }

  .Address {
    letter-spacing: -0.1995px;
    font-size: 26.6px;
    line-height: 34.2px;
  }

  .register1 a:hover,
  .register1:hover {
    cursor: pointer;
    background: rgb(24, 37, 90);
    color: rgb(255, 215, 75);
  }
}